$breakpoint: 54em;
$padding: 1rem;
$spacer: 1em;
$indentation: 1.5rem;
$gutter: 3rem;

:root {
    --color-dark: #111;
    --color-light: #fff;
    --color-fg: var(--color-dark);
    --color-bg: var(--color-light);
    --color-backdrop: #eee;

    --color-brand: #005c5e;
    --color-brand-tint: #a8cfd0;
    --color-brand-dark: #003738;

    --color-bg-tint: color-mix(in srgb, var(--color-bg), var(--color-brand-tint) 30%);
    --color-bg-tint-border: var(--color-brand-tint);
    --color-border: var(--color-fg);
    --color-link: var(--color-brand);
    --color-link-focus: var(--color-brand-dark);

    --padding: #{$padding};
    --spacer: #{$spacer};
    --indentation: #{$indentation};
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-dark: #222;
        --color-fg: var(--color-light);
        --color-bg: var(--color-dark);
        --color-backdrop: #000;
        --color-brand-tint: var(--color-brand-dark);
        --color-bg-tint: #191b1a;
        --color-bg-tint-border: var(--color-backdrop);
        --color-link: #64adae;
        --color-link-focus: #448e8f;
    }

    .file-list__icon,
    .brand-link img {
        filter: invert(100%) hue-rotate(180deg);
    }
}

.button, button, [type="button"], [type="submit"] {
    // use color-brand instead of color-link
    --btn-color: var(--color-brand);
    --btn-focus: var(--color-brand-dark);
    --btn-contrast: var(--color-light);
}
