@import "../node_modules/mfbs/sass/variables";
@import "vars";
@import "../node_modules/mfbs/sass/base";
@import "../node_modules/mfbs/sass/form";
@import "components/layout";
@import "components/type";
@import "components/nav";
@import "components/header";
@import "components/footer";
@import "components/subpages";
@import "components/table";
@import "components/toc";
@import "components/home";
@import "components/shortcuts";
@import "components/burger";
@import "components/infobox";
@import "components/newsletter";
@import "components/admin";

// overwrite dimensions set in HTML
img {
    height: auto;
}

.u-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

.button--block {
    display: block;
    margin-bottom: $spacer;
}

summary {
    @extend h3;
    cursor: pointer;

    h3 {
        display: inline;
        margin: 0;
        font-size: inherit;
    }
}

#alert {
    font-size: 120%;
}

.image-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: $spacer;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    align-items: center;
}

.skip {
    position: absolute;
    top: 0;
    left: 0;
}
.skip:not(:focus) {
    clip: rect(0,0,0,0);
}
