@import "../node_modules/sass-planifolia/sass/math";
@import "../node_modules/sass-planifolia/sass/contrast";
@import "../node_modules/sass-planifolia/sass/clearfix";

@import "../node_modules/mfbs/sass/variables";
@import "vars";
@import "../node_modules/mfbs/sass/base";
@import "../node_modules/mfbs/sass/form";
@import "components/layout";
@import "components/type";
@import "components/nav";
@import "components/header";
@import "components/footer";
@import "components/article";
@import "components/subpages";
@import "components/table";
@import "components/toc";
@import "components/home";
@import "components/shortcuts";
@import "components/burger";
@import "components/infobox";
@import "components/newsletter";
@import "components/admin";

html {
    line-height: 1.5;
    padding: 0.5em;
}

html.bg {
    background-color: $color-brand;
    padding: 0;

    @media print {
        background-color: white;
    }
}

.u-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

.button--block {
    display: block;
    margin-bottom: $spacer;
}

summary {
    @extend h3;
    cursor: pointer;

    h3 {
        display: inline;
        margin: 0;
        font-size: inherit;
    }
}

#alert,
.alert {
    background-color: #ffb600;
    padding: 2 * $padding;
    margin-bottom: $spacer * 2;

    :last-child {
        margin-bottom: 0;
    }
}

#alert {
    font-size: 120%;
}
