@import "../node_modules/mfbs/css/base";
@import "../node_modules/mfbs/css/form";
@import "vars";
@import "components/layout";
@import "components/type";
@import "components/nav";
@import "components/header";
@import "components/footer";
@import "components/subpages";
@import "components/table";
@import "components/toc";
@import "components/home";
@import "components/shortcuts";
@import "components/burger";
@import "components/infobox";
@import "components/newsletter";
@import "components/admin";

dd {
    margin-inline: 0;
    margin-block-end: 1em;
}

.rtl-mirror:dir(rtl) {
    transform: scale(-1, 1);
}

.u-columns {
    columns: 2;
}

.button--block {
    display: block;
    margin-block-end: $spacer;
}

.accordion-summary {
    @extend h3;
    cursor: pointer;

    h3 {
        display: inline;
        margin: 0;
        font-size: inherit;
    }
}

#alert {
    font-size: 120%;
}

.image-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
    align-items: center;
}

.skip {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
}
.skip:not(:focus) {
    clip-path: circle(0);
}
