<Files ~ "(^\.ht|\.sqlite|\.php$)">
	Deny from all
</Files>
<Files "cache.php">
	Allow from all
</Files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [L]

RewriteRule ^.*[^/]$ /xi/$0/ [L,R=301]

RewriteRule ^$ /xi/de/ [L,R=301]

RewriteCond %{REQUEST_URI} ^/xi/(.*)/$
RewriteCond %{DOCUMENT_ROOT}/xi/cache/%1/index.html -f
RewriteRule . cache/%1/index.html [L]

RewriteRule ^(.*)$ cache.php?path=$1 [QSA]
