.button-light {
    --btn-color: var(--color-brand-tint);
    --btn-focus: color-mix(in oklch, var(--color-brand-tint), var(--color-fg) 10%);
    --btn-contrast: var(--color-fg);
}

.button-small {
    padding-block: 0;
}

html.admin {
    /* layout */
    body {
        margin: 0;
        max-inline-size: none;
    }

    .nav-langs,
    main,
    aside {
        padding: 1em;
    }

    @media (min-width: 60em) {
        body {
            display: grid;
            grid-template-rows: min-content 1fr;
            grid-template-columns: 1fr 3fr 1fr;
        }

        #section-nav {
            grid-row: 1 / 3;
            grid-column: 1;
            font-size: 80%;
        }

        .nav-langs {
            grid-row: 1;
            grid-column: 2;
        }

        main {
            grid-row: 2;
            grid-column: 2;
        }

        aside {
            grid-row: 1 / 3;
            grid-column: 3;
        }
    }

    /* form */
    input,
    select,
    textarea,
    button {
        display: block;
        font-size: inherit;
    }

    input,
    select,
    textarea {
        inline-size: 100%;
    }

    input[type="checkbox"] {
        display: inline-block;
        inline-size: auto;
    }

    textarea {
        min-block-size: 50lvb;
        resize: block;
    }

    label {
        display: block;
        margin-block: 1em;
    }

    form {
        margin-block-end: 2em;
    }

    /* tinymce fix */
    .tox-collection__item-label {
        white-space: nowrap !important;
    }
}

.file-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: $spacer;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));

    li {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid var(--color-bg-tint-border);
        border-radius: $padding;
        background-color: var(--color-bg-tint);
        text-align: center;
        word-wrap: break-word;
    }

    a {
        flex: 1;
        padding: $padding * 2;
        border-radius: $padding;
    }

    .file-list__icon {
        display: block;
        inline-size: 100%;
        block-size: 4em;
        object-fit: contain;
    }

    button {
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        opacity: 0;
    }

    li:hover button,
    button:focus {
        opacity: 1;
    }
}

.system-read-more {
    border-style: dashed;
}
.system-module {
    border: 2px dashed;
    padding: $padding;
    margin-block-end: $spacer;
}

.langs-available {
    float: inline-end;
    margin-inline-start: $padding;
}

// HACK to fix grid layout
.tox-tinymce-aux {
    inline-size: 0 !important;
}

.outdated-mark {
    color: red !important;
}

.outdated-sign {
    color: red !important;
    float: inline-start;
    margin: 5px;
    cursor: pointer;
    font-size: 1.3em;
    line-height: 1;
    vertical-align: middle;
}

.outdated-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    margin-left: 10px;
    font-size: 0.8em;
    line-height: 1.3;
}

.outdated-sign:hover .outdated-tooltip,
.outdated-sign:focus .outdated-tooltip {
    visibility: visible;
}

.update-outdated-container {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.update-timestamps-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 0.8em;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    margin: 2em 0 0 -4em;
}

.update-timestamps:hover .update-timestamps-tooltip,
.update-timestamps:focus .update-timestamps-tooltip {
    visibility: visible;
}

.check-lang {
    display: inline-block;
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;
}