.item-page {
    margin-bottom: 2 * $spacer;

    .icons {
        display: none;
    }

    li {
        margin-bottom: 0.5em;
    }
}

.article-info {
    font-size: 80%;
    font-style: italic;

    .article-info-term {
        display: none;
    }
    dd {
        margin: 0;
    }
}

.page-header {
    margin-top: 3em;
    margin-bottom: 2em;
}

.blog {
    .item {
        margin-bottom: 6em;
    }

    .page-header {
        h2 {
            font-size: 150%;
        }

        a {
            display: block;
            text-decoration: none;
            border-bottom: 0.2em solid;
        }
    }
}
