$thickness: 0.3em;
$size: 1.5em;
$x: ($size - 3 * $thickness) / 2 + $thickness;

.menu-button {
    padding: 0.8em;
    min-width: 0;
}

.icon-menu {
    position: relative;
    margin: $x 0;

    &,
    &:after,
    &:before {
        display: block;
        width: $size;
        height: $thickness;
        background-color: currentColor;
    }

    &:after,
    &:before {
        position: absolute;
        content: "";
    }

    &:before {
        top: -$x;
    }

    &:after {
        top: $x;
    }
}

.menu-button.is-active {
    .icon-menu {
        background-color: transparent;

        &:after,
        &:before {
            background-color: currentColor;
        }

        &:before {
            transform: translateY($x) rotate(45deg);
        }

        &:after {
            transform: translateY(-$x) rotate(-45deg);
        }
    }
}

.button.m-round {
    border-radius: 50%;
}