$thickness: 0.3em;
$size: 1.5em;
$x: ($size - 3 * $thickness) * 0.5 + $thickness;

.icon-menu {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    &,
    &:after,
    &:before {
        inline-size: $size;
        block-size: $thickness;
        background-color: currentColor;
    }

    &:after,
    &:before {
        display: block;
        position: absolute;
        content: "";
    }

    &:before {
        top: -$x;
    }

    &:after {
        top: $x;
    }
}

.menu-button.is-active {
    .icon-menu {
        background-color: transparent;

        &:after,
        &:before {
            background-color: currentColor;
        }

        &:before {
            transform: translateY($x) rotate(45deg);
        }

        &:after {
            transform: translateY(-$x) rotate(-45deg);
        }
    }
}