#footer {
    background-color: $color-brand;
    color: $color-bg;
    accent-color: $color-bg;

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .footer-logos {
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-inline-size: 20em;
        }
    }

    @media screen and (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr;
        grid-gap: $gutter;

        ul {
            margin: 0;
        }
        .footer-logos {
            text-align: end;
        }
    }

    @media print {
        display: none;
    }
}

.social-nav {
    a {
        position: relative;
        padding-inline-start: 1.2em;
    }
    svg {
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: calc(50% - 0.5em);
        block-size: 1em;
        inline-size: 1em;
    }
}
