#footer {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
}

#footer2 .nav {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-left: 0.5em;
    }

    @media print {
        display: none;
    }
}
