#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80%;
    padding-top: $padding * 0.5;
    padding-bottom: $padding * 0.5;

    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 0.5em;
        }
    }

    @media print {
        display: none;
    }
}

.social-nav {
    a {
        position: relative;
        padding-left: 1.2em;
    }
    svg {
        position: absolute;
        left: 0;
        top: calc(50% - 0.5em);
        height: 1em;
        width: 1em;
    }
}
