fieldset {
    padding: 0;
    border: 0;
}

.icon-search {
    display: none;
}

.btn-toolbar {
    margin-bottom: 1.5 * $spacer;

    .btn-group {
        display: inline-block;
    }
}

input,
button,
textarea,
select {
    line-height: normal;
}

.button.m-round {
    border-radius: 50%;
}
