#header {
    display: grid;
    grid-gap: 0 $padding;
    grid-template-columns: 1fr max-content;
}

#header-bottom {
    grid-column: 1 / 3;
}

#address {
    margin: 0;
    font-style: inherit;
    font-size: 80%;

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        column-gap: 1em;
        flex-wrap: wrap;
    }
}

.brand {
    font-size: 150%;
    margin: 0;
}
.brand img {
    display: block;
}
