#header {
    position: relative;
}

#address {
    margin: 0;
    font-style: inherit;
    font-size: 80%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        white-space: nowrap;

        @media (min-width: $breakpoint) {
            display: inline;
            margin-right: 1em;
        }
    }
}

.brand {
    margin: 0;
}

@media (min-width: $breakpoint) {
    .brand-link img {
        max-width: 40%;
    }
}
