.infobox {
    overflow: hidden;  // clearfix
    border: 1px solid var(--color-bg-tint-border);
    border-radius: 0.3em;
    background: var(--color-bg-tint);
    padding: $padding * 1.2;
    margin-block: 2 * $spacer;

    img[src*="icons"] {
        float: inline-end;
        inline-size: 8em;
        margin-inline-start: 0.5em;
        margin-block-end: 0.5em;
        shape-outside: circle();
    }

    > :last-child {
        margin-block-end: 0;
    }
}

.alert {
    background-color: #fb0;
    color: var(--color-dark);
    --color-link: var(--color-brand);
    --color-link-focus: var(--color-brand-dark);
    padding: $padding;

    :last-child {
        margin-block-end: 0;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
