@use "sass:math";

html {
    padding: 0.5em;
}

@media screen {
    html.website {
        background-color: #eee;
        padding: 0;
    }
}

#content-container {
    background-color: white;
}

#header,
#main-container,
#shortcuts,
#footer {
    padding: $padding;
}

#main-container {
    padding-block: $padding * 3;
}
#main-container :first-child {
    margin-block-start: 0;
}

body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: $breakpoint) {
    body {
        max-inline-size: 40em * math.div(12, 7);
        margin-inline: auto;
        margin-block: 1em 2em;
        padding: 0.5em;
    }

    #content-container {
        box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.5);
    }
    #main-container {
        display: grid;
        grid-gap: $gutter;
        grid-template-columns: repeat(6, 1fr);
        word-wrap: break-word;
    }
    .l-side {
        grid-column: 5 / 7;
    }
    .l-main {
        grid-column: 1 / 5;
    }
    .l-full {
        grid-column: 1 / 7;
    }
}

@media print {
    body {
        max-inline-size: none;
    }
}
