#nav {
    position: relative;  // elevate above shadow
    font-size: 110%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        background: var(--color-brand);
        color: var(--color-bg);

        &.active, &:hover, &:focus-visible {
            background: var(--color-brand-dark);
            color: var(--color-bg);
        }

        padding: 0.5em;
        margin-block-end: 1px;
    }
}

#section-nav {
    margin-inline: -$padding;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;

        padding-block: 0.5em;
        padding-inline: $padding;

        &:hover, &:focus-visible {
            background: var(--color-brand-light);
            color: var(--color-fg);
        }
        &.active {
            background: var(--color-brand-dark);
            color: var(--color-bg);
        }
    }

    ul ul a {
        padding-inline-start: $padding * 3;
    }
    ul ul ul a {
        padding-inline-start: $padding * 4;
    }
    ul ul ul ul a {
        padding-inline-start: $padding * 5;
    }
}

#language-nav {
    margin-block: 2 * $spacer $spacer;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        column-gap: 0.2em;
        flex-wrap: wrap;
        list-style: none;
    }

    a {
        display: inline-block;
        text-decoration: none;
        padding-inline: 0.2em;

        &.selected {
            border-block-end: 0.2em solid;
        }
    }
}

.menu-button {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    justify-self: end;
}

#nav,
#language-nav {
    display: none;

    &.is-visible {
        display: block;
    }
}

@media screen and (min-width: $breakpoint) {
    .menu-button {
        display: none;
    }

    #nav,
    #language-nav {
        display: block;
    }

    #section-nav {
        margin-inline: 0;
    }

    #nav {
        text-align: center;

        ul {
            display: grid;
            grid-gap: 1px;
            grid-template-columns: repeat(7, 1fr);
        }

        a {
            margin-block-end: 0;
        }
    }

    #language-nav {
        grid-row: 1;
        grid-column: 2;
        text-align: end;
        margin: 0;
    }
}

@media print {
    #nav,
    #section-nav,
    #language-nav,
    .menu-button {
        display: none !important;
    }
}
