@mixin nav-color($color, $color-focus) {
    background: $color;
    color: contrast-color($color);

    &:hover, &:focus {
        background: $color-focus;
        color: contrast-color($color-focus);
    }
}

#nav {
    position: relative;  // elevate above shadow
    font-size: 110%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include nav-color($color-brand, $color-brand-dark);
        padding: 0.5em;
        margin-bottom: 1px;
    }

    a.active {
        @include nav-color($color-brand-dark, $color-brand-dark);
    }
}

#section-nav {
    font-size: 80%;
    margin-top: 1px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;

        padding: 0.3em $padding;
        border-bottom: 1px solid black;

        &:hover, &:focus {
            background: $color-brand-light;
            color: contrast-color($color-brand-light);
        }
    }

    ul ul a {
        padding-left: $indentation;
    }

    a.active {
        @include nav-color($color-brand-dark, $color-brand-dark);
    }
}

#language-nav {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
    }
}

.menu-button {
    position: absolute;
    top: $padding;
    right: $padding;
}

#nav,
#language-nav {
    display: none;

    &.is-visible {
        display: block;
    }
}

@media screen and (min-width: $breakpoint) {
    .menu-button {
        display: none;
    }

    #nav,
    #language-nav {
        display: block;
    }

    #nav {
        text-align: center;

        ul {
            display: grid;
            grid-gap: 1px;
            grid-template-columns: repeat(6, 1fr);
        }

        a {
            margin-bottom: 0;
        }
    }

    #language-nav {
        position: absolute;
        top: $padding;
        right: $padding;
    }
}

@media print {
    #nav,
    #section-nav,
    #language-nav,
    .menu-button {
        display: none !important;
    }
}
