#shortcuts {
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: grid;
        grid-gap: $spacer;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: (200px * 2)) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media print, (min-width: $breakpoint) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    a {
        display: block;
        padding: $padding;
        color: inherit;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
