#shortcuts {
    text-align: center;
    padding-block-start: 2 * $padding;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        gap: 2 * $padding;
        flex-wrap: wrap;
    }

    li {
        flex: 1 0 10em;
    }

    a {
        display: block;
        color: inherit;
        text-decoration: none;
        block-size: 100%;

        &:hover, &:focus-visible {
            text-decoration: underline;
        }
    }

    img {
        inline-size: 100%;
        max-block-size: 10em;
    }
}
