table {
    inline-size: 100%;
    font-size: 80%;
}

tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
    background-color: $color-bg-tint;
}

table ul {
    line-height: 1;
}

td > :last-child {
    margin-block-end: 0;
}
