html {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .subheading {
    font-family: Futura, sans-serif;
}

h2, h3 {
    font-weight: normal;
}
.blog article h3,
h2 {
    border-bottom: 1px solid $color-border;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
h4, h6 {
    color: $color-brand;
}
h6 {
    text-transform: uppercase;
}

.subheading {
    font-size: 100% * pow(1.4, 4.5 - 3);
    line-height: 1.2;
}
h2 + .subheading {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 100% * pow(1.4, 4.5 - $i);
    }
}

main li {
    margin-bottom: 0.5em;
}

.blog article {
    margin-bottom: 6em;
}

.nolink {
    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit !important;
    }
}
